:root {
  --white: #fff;
  --grey_light: #c4c4c4;
  --grey: #828181;
  --grey_dark: #605f5f;
  --red_light: #fbb5b1;
  --red: #fb635b;
  --blue_light: #9ac7f9;
  --blue: #439bfb;
  --green: #70cc80;
}
