.navBar {
  display: grid;
  grid-template-columns: max-content 1fr;

  height: 5rem;
}

.viewLogButton {
  display: grid;
  grid-template-columns: max-content max-content;
  align-content: center;
  justify-content: center;

  color: var(--white);
  background: var(--grey_dark);

  font-weight: 200;

  padding: 1rem;
}
