.navBar {
  display: grid;
  grid-template-columns: 1fr max-content;

  height: 3rem;
}

.viewLogButton {
  color: var(--white);
  background: var(--grey_dark);

  font-size: 2rem;
  line-height: 3rem;
}

.fa-clipboard-list {
  margin-right: 1rem;
}
