.log {
  display: grid;
  grid-template-rows: max-content 1fr;
  padding: 1rem;
  height: 100%;
}

.emptyLogMessage {
  font-size: 2rem;
  color: var(--grey);
  text-align: center;
  padding-top: 1rem;
}

.goHomeButton {
  display: block;
  width: max-content;
  background: var(--blue);
  padding: 0.75rem 1.5rem;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  box-shadow: 4px 4px 4px grey;
  margin-bottom: 1rem;
  top: 1rem;
  left: 1rem;
}

.fa-home {
  margin-right: 0.75rem;
}

.scrollingLog {
  display: grid;
  grid-auto-flow: row;
  overflow-y: scroll;
  align-content: flex-start;
  grid-gap: 2rem;
}

.dateLabel {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.letOuts {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
}
