.log {
  padding: 1rem;
}

.goHomeButton {
  background: blue;
  padding: 0.75rem 1.5rem;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  box-shadow: 4px 4px 4px grey;
}

.fa-home {
  margin-right: 0.75rem;
}
