.logWrap {
  display: grid;
  grid-template-rows: max-content 1fr;
  overflow: hidden;
  height: 100vh;
}

.cancel {
  display: grid;
  align-content: center;
  justify-content: center;

  width: 100%;
  height: 5rem;

  background: var(--grey_dark);
  color: var(--white);

  font-size: 2.5rem;
  font-weight: 200;
}

.scrollingLog {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: var(--black_light);
}

.logCardsGridGap {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
