input,
button {
  outline: none;
}

.configureContainer {
  margin: auto;
  background: white;
  height: 100vh;
  padding: 2rem 1rem 1rem;
  position: relative;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
}

.dogNameInputWrap {
  position: relative;
}

.dogNameInputLabel {
  position: absolute;

  left: 20px;
  padding: 0 0.5rem;
  font-size: 1.25rem;
  background: white;
  top: -8px;
}

#dogNameInput {
  display: block;
  padding: 1rem 0.75rem;
  font-size: 1.75rem;
  border-radius: 5px;
  border: 2px solid black;
  width: 100%;
  margin-bottom: 3rem;
}

#dogNameInput.inputWarning {
  border-color: var(--red);
  margin-bottom: 0.5rem;
}

.inputWarningText {
  color: var(--red);
  margin-bottom: 1.5rem;
}

.colorSelection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-auto-flow: column; */
  grid-gap: 0.5rem;
  margin-bottom: 3rem;
}

.colorSectionLabel {
  display: block;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.dogsListWrap {
  display: grid;
  grid-template-rows: 1fr max-content;
  align-content: space-between;
  overflow-y: scroll;
}

.scrollingList {
  overflow-y: scroll;
  margin-bottom: 2rem;
}

.fa-plus,
.fa-check {
  margin-right: 1rem;
}

.addDogButton,
.doneButton {
  font-size: 1.5rem;
  background: var(--green);
  border-radius: 5px;
  padding: 1rem 2rem;
  color: white;
  margin: auto;
  display: block;
}

.addDogButton:disabled,
.doneButton.disabled {
  background: var(--grey);
}

.addDogButton {
  margin-bottom: 3rem;
}

@media all and (min-width: 400px) {
  .colorSelection {
    grid-template-columns: repeat(9, 1fr);
  }
}
