input[type='radio'] {
  display: none;
}

.colorLabel {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
}

.highlighted {
  border: 3px solid #fff;
  box-shadow: 0 0 0px 2px #000;
}

.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.purple {
  background: purple;
}
.orange {
  background: orange;
}
.pink {
  background: pink;
}
