.recentLetOutSnapshot {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 100%;

  background: var(--grey_light);
  color: var(--grey);

  font-size: 1.5rem;
  font-weight: 100;
}

.snapshotTime {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0 1rem;
}

.snapshotNumber {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0 1rem;
}

.snapshotNumber--leo {
  background: var(--blue_light);
}

.snapshotNumber--lucy {
  background: var(--red_light);
}
