.snapshot {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  padding: 0.25rem 0.25rem 0.25rem 0;
  background: white;
  border-left: 2px solid black;
}

.fiveOrMore .snapshot__time {
  font-size: 1rem; /* ensures potty snapshot doesn't expand beyond it's container when a large number of dogs are present*/
  color: black;
}

.fiveOrMore .snapshot__pottyNumbers__pottyNumber {
  padding: 1rem 0.5rem; /* ensures potty snapshot doesn't expand beyond it's container when a large number of dogs are present*/
}

.snapshot__time {
  font-size: 2rem;
  font-weight: 200;
  color: grey;
  padding: 0 1rem 0 0.5rem;
}

.snapshot__pottyNumbers {
  display: grid;
  grid-auto-flow: column;
}

.snapshot__pottyNumbers__pottyNumber {
  font-size: 2rem;
  padding: 1rem;
  display: inline-block;
  font-weight: 200;
  text-align: center;
}
