input[type='radio'] {
  display: none;
}

.colorLabel {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
}

.highlighted {
  border: 3px solid #fff;
  box-shadow: 0 0 0px 2px #000;
}
